.container {
  @include flex-container-row();
  @include container-modifier($block:'container',$modifier:'left');
  @include container-modifier($block:'container',$modifier:'right');

  width: 85%;

  &__left {
    @include flex-container-row();
    @include background-color($modifier-name:'white',$color:$login-background-color);

    .login {
      @include flex-container-column();
      width: 60%;

      &__margin {
        margin-top: 20px;
      }

      .banner {
        text-align: center;

        &__logo {
          @include background-color($modifier-name:'black',$color:$login-background-color);
          @include font-size(30px);
        }

        &__title {
          font-weight: bold;
          font-size: 20px;
        }

        &__desc {
          font-style: italic;
          font-size: 10px;
        }
      }

      .input-group {
        @extend %flex-container-column;

        height: 40px;
        justify-content: space-between;

        &__label {
          font-size: 10px;
        }

        &__input-container {
          margin-top: 3px;

          &__input {
            padding: 7px;
            border-style: none;
            border-radius: 3px 3px 3px 3px;
            width: 100%;
            box-sizing: border-box;
          }
        }
      }

      .login-info {
        @extend %flex-container;

        justify-content: space-between;

        &__remember {
          @extend %flex-container;

          &__desc {
            padding-top: 4px;
            font-size: 10px;
          }
          input {
            margin-left: 0;
          }

        }

        &__forgot {

          &__link{
            padding-top: 4px;
            font-size: 10px;
          }

          @include color($modifier-name:'black',$color:black);

          &--black {
            font-weight: bold;
          }
        }
      }

      .button-container {

        .button {
          border: none;
          color: white;
          padding: 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 10px;
          margin: 0;
          cursor: pointer;
          width: 100%;

          @include background-color($modifier-name:'black',$color:black);

        }

      }

      .register {
        font-size: 8px;
        text-align: center;

        &__link {
          font-weight: bold;

          &--black {
            color: black;
          }
        }
      }
    }
  }

  &__right {
    @include flex-container-column();
    @include background-image($modifier-name:'mix',$color:$login-right-image);

    .link-area {
      @include flex-container-row();

      width: 100%;
      justify-items: center;
      flex-wrap: wrap;

      &__link {
        @extend %flex-container-row;

        margin-top: 15px;
        width: 80%;
        justify-content: space-between;
        flex-wrap: wrap;

        &__logo {
          @include flex-container-column();
        }

        &__description {
          font-style: italic;
          font-size: 11px;
        }

        &__arrow {
          @include flex-container-column();
        }

        &__line {
          width: 100%;
          border-style: inset;
          border-width: 1px;
          margin-top: 10px;
        }
      }
    }
  }
}